<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="ComputerSales" providerName="System.Data.SqlClient"
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
       AttachDbFilename=C:\Users\Dejan Baker-Petkovic\Documents\Visual Studio 2017\Projects\ComputerSalesSelfHost\Database\ComputerDatabase.mdf;
       Database=C:\USERS\DEJAN BAKER-PETKOVIC\DOCUMENTS\VISUAL STUDIO 2017\PROJECTS\COMPUTERSALESSELFHOST\DATABASE\COMPUTERDATABASE.MDF"/>
</connectionStrings>
</configuration>
